/*
 * style.css 
 */
.container, .container-fluid {
 padding-right: 15px;
 padding-left: 15px;
 background-color: #f9f9f9;
}
.row {
 margin-bottom: 1px;
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"] {

 background-color: #f5f5f5;
 background-color: rgba(86,61,124,.15);
 border: 1px solid #ddd;
 border: 1px solid rgba(86,61,124,.2);
 text-align: center;
}
div[role="main"] {
 background-color: #fff;
}
div[role="main"], nav, aside {
 height: 600px;
}
header nav ul li{
	list-style: none;
}
canvas{
	position: absolute;
	top:1px;
	left:20%;
	border: 1px solid black;
}